#store-by-file{
    width: 100%;
}

.label-file{
    margin-bottom: -20px;
}

#drop_zone{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    margin-bottom: 2rem;
    border: #333 0.2rem dashed ;
    cursor: pointer;
}

.drop_zone-input {
    padding: 1rem;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 2rem;
    overflow: auto;
}

 #drop_zone label{
    /* width: 10%; */
    padding: 1rem;
    background-color: #ccc;
    border: none;
    border-left: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    text-align: center;
    font-size: 2rem;

}


@media screen and (max-width: 500px) {
    #drop_zone{
        flex-wrap: wrap;
    }

    #drop_zone label{
        margin-top: 5px;
        width: 100%;
    }
}