.header {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 10; 
    background-color: #3A6EA5;
    height: 5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}
.headernav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header img {
    width: 3.5rem;
    height: auto;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 1rem; 
}

.header-icons img {
    width: 3.5rem;
    height: auto;
}



/* NavLeft */
.sidebar {
    position: fixed;
    height: 100%;
    width: 5rem;
    background-color: #3A6EA5;
    color: white;
    padding-top: 3rem;
    margin-top:1rem ;
    z-index: 0;
    overflow: hidden;
}

.sidebar ul li {
    padding: 15px 0px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.sidebar ul li:hover {
    background-color: #28496d;
}

.sidebar ul li img {
    width: 3rem;
}